.library-display {
    display: grid;
    grid-template-columns: repeat(5, minmax(6.25rem, 1fr));
    gap: 1px;
    justify-content: center;
    align-items: center;
}

.book-card,
.grid-header-container {
    display: contents;
}

.delete-btn {
    width: 4rem;
}